# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [52]:
# Import sqlite3 and pandas.
import sqlite3 as sl 
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [53]:
# Create a new database called exercises.db.
con = sl.connect('exercises.db')

#con is the variable that represents a connection to the database and is used to execute queries

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [59]:
# Create a new table in your database.
# with con:
#     con.execute("""
#         CREATE TABLE bikes (
#             id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
#             make TEXT,
#             model TEXT,
#             type TEXT
#         );
#     """)

SyntaxError: invalid syntax (468672662.py, line 11)

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [47]:
# Add your 3 favorite books to your table.
sql = 'INSERT INTO bikes3 (make, model, type) VALUES (?, ?, ?)'
data = [
    ('Marin', 'Bobcat 3', 'Mountain'),
    ('Marin', 'Lombard 2', 'Road/Gravel'),
    ('Bridgestone', 'Kabuki', 'Road')
]

with con:
    con.executemany(sql, data)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [42]:
# Write your SELECT query here.
data = con.execute('SELECT * FROM bikes')
for row in data:
    print(row)

(1, 'Marin', 'Bobcat 3', 'Mountain')
(2, 'Marin', 'Lombard 2', 'Road/Gravel')
(3, 'Bridgestone', 'Kabuki', 'Road')
(4, 'Marin', 'Bobcat 3', 'Mountain')
(5, 'Marin', 'Lombard 2', 'Road/Gravel')
(6, 'Bridgestone', 'Kabuki', 'Road')
(7, 'Marin', 'Bobcat 3', 'Mountain')
(8, 'Marin', 'Lombard 2', 'Road/Gravel')
(9, 'Bridgestone', 'Kabuki', 'Road')
(10, 'Marin', 'Bobcat 3', 'Mountain')
(11, 'Marin', 'Lombard 2', 'Road/Gravel')
(12, 'Bridgestone', 'Kabuki', 'Road')
(13, 'Marin', 'Bobcat 3', 'Mountain')
(14, 'Marin', 'Lombard 2', 'Road/Gravel')
(15, 'Bridgestone', 'Kabuki', 'Road')

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [44]:
# Use Pandas to make a new table in your database.

df_dogs = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Finley', 'Lily', 'Charlie'],
    'age': [10, 4, 7]
})

df_dogs.to_sql('launchcode_dogs2', con)

data = con.execute('SELECT * FROM launchcode_dogs2')
for row in data:
    print(row)

(0, 1, 'Finley', 10)
(1, 2, 'Lily', 4)
(2, 3, 'Charlie', 7)